html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif
  line-height: 1.5;
  background: #efdecd:
  color: #323232;
}

.svg-icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}

img {
  max-width: 100%;
}

ul {
    text-align: center;
    list-style-position: inside;
}
