html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif
  line-height: 1.5;
  background: #efdecd:
  color: #323232;
}


.hr1 { width:60%;height:solid-color 5px;
}


.svg-icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}

img {
  max-width: 100%;
}


.paragraph-text {
font-family: 'Roboto', sans-serif; text-align: center; line-height: 1;
}	  
.page-description {
 text-align: center;  
}

h1 {
	font-size: 32px; font-family: 'Roboto', sans-serif; color: rgb(121,149,117);
}
h2 {
	font-size: 25px;
}
ul {
    text-align: center;
    list-style-position: inside;
}
